<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hotelOasis.Properties.Settings.Oasis_dbConnectionString"
            connectionString="Data Source=DESKTOP-ORB2I8R\SQLEXPRESS;Initial Catalog=Oasis_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>